.error_messages
  = render "devise/shared/error_messages", resource: resource
.add-edit-form
  = form_for(resource, as: resource_name, url: edit_user_registration_path(resource_name), html: { method: :put }) do |f|
    %h1.edit-header= "Edit Profile:"
    .row.justify-content-center
      .col-md-8.info
        .form-group.row.edit-email
          .col-md-6
            = f.label :email
          .col-md-6
            = f.email_field :email, autofocus: true, autocomplete: "email_new"
        .form-group.row
          .confir
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group.row.edit-pass
          .col-md-6
            = f.label :password
          .col-md-6
            = f.password_field :password, autocomplete: "new-password"
        .form-group.row.edit-passconf
          .col-md-6
            = f.label :password_confirmation
          .col-md-6
            = f.password_field :password_confirmation, autocomplete: "new-password"
        .form-group.row.edit-passcurrent
          .col-md-6
            = f.label :current_password
          .col-md-6
            = f.password_field :current_password, autocomplete: "current-password"
        .form-group.row.edit-nick
          .col-md-6
            = f.label :nick
          .col-md-6
            = f.text_field :nick, autofocus: true
        .form-group.row.edit-ava
          .col-md-6
            = f.label "Avatar"
          .col-md-6
            = f.file_field :avatar
        .form-group.row.edit-update
          .col-md-6.offset-md-4
            .edit-bt  
              = f.submit "Update"
                
         