.error_mess
  = render "devise/shared/error_messages", resource: resource  
%body
  .ripple-background
    .circle.xlarge.shade2
    .circle.large.shade3
    .circle.mediun.shade4
    .circle.small.shade5
   
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card.bg-transparent
          .header_style
            .card-header Forgot your password?
          .card-body.body_style
            .form-group.row#give_email
              = f.label :email
              .col-md-6#col_email
                = f.email_field :email, autofocus: true, autocomplete: "email"
              .col-md-6.offset-md-4#send
                .send_button  
                  = f.submit "Send", class: 'btn'
    .link_forget
      = render "devise/shared/links" 
          
