= render "devise/shared/error_messages", resource: resource
%h2 Forgot your password?
.ripple-background
  .circle.xxlarge.shade1
  .circle.xlarge.shade2
  .circle.large.shade3
  .circle.mediun.shade4
  .circle.small.shade5
%link{:href => "https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap", :rel => "stylesheet"}/
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .give_email
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .reset_instruct
    = f.submit "Send"
= render "devise/shared/links"
