.add-event-form
    = form_for @event do |form|
        %h1.events-header Dodaj event:
        = form.label :title 
        = form.text_field :title    
        %br/ 
        = form.label :description
        = form.text_field :description
        %br/ 
        = form.label :event_time
        = form.time_field :event_time
        %br/ 
        = form.label :event_date
        = form.date_field :event_date
        %br/
        = form.select(:users, options_for_select(@users))
        %br/
        =form.label :private
        = form.check_box :private
        %br/
        = form.submit 'Add to my collection', {:class => "submit-button"}