.show-event-page
  .row.justify-content-center
    .show-event-page-title
      %h3.show-labelt= "Title:"  
      %p.event-title= @event.title
    .show-event-page-description
      %h3.show-labeld= "Details:"
      %p.event-desc= @event.description
    .show-event-page-time
      %h3.show-labeldt= "Date:"
      %div.event-date= @event.event_date
      %div.event-date= @event.event_time.to_formatted_s(:time)
    .show-event-page-game
      %h3.show-labelg= "Game:"
      %div.event-game= @event.game.title
    - unless @event.invitations.where(user_id: current_user.id).empty?
      .show-event-page-users
        %h3.show-labelp= "Change status:"
        .row.status-wrapper
          .col.text-center
            = button_to 'Accept', accept_api_v1_invitations_path, form_class: 'accept', method: :post, params: {id: Invitation.find_by(event_id: @event.id, user_id: current_user.id)}
          .col.text-center
            = button_to 'Decline', decline_api_v1_invitations_path, form_class: 'decline', method: :post, params: {id: Invitation.find_by(event_id: @event.id, user_id: current_user.id)}
    .show-event-page-users
      %h3.show-labelp= "Players:"
      %h5= "Accepted:"
      - @event.invitations.accepted.each do |invite|
        %div.event-players
          = invite.user.nick
      %h5= "Pending:"
      - @event.invitations.pending.each do |invite|
        %div.event-players
          = invite.user.nick
      %h5= "Declined:"
      - @event.invitations.declined.each do |invite|
        %div.event-players
          = invite.user.nick
    .show-event-page-achivements
      %h3.show-labela= "Achievements:"
      - @event.achivements.each do |achivement|
        %div.event-achivements= achivement.name
