.show-event-page
    .row.justify-content-center
        .show-event-page-title
            %h3= "Your event:"  
            %div= @event.title
        .show-event-page-description
            %h3= "Details:"
            %div= @event.description
        .show-event-page-time
            %h3= "Meeting time:"
            %div= @event.event_date
            %div= @event.event_time.strftime("%H:%M")
        .show-event-page-game
            %h3= "Game:"
            %div= @event.game.title
        .show-event-page-users
            %h3= "Players:"
            - @event.users.each do |user|
                %div= user.nick

