.games-form
    = form_for @game do |form|
        
        .row.justify-content-center
            .col-md-8
                .form-group.row.game_name
                    .col-md-6.col_gn
                        Title: 
                    .col-md-6.col_game_name
                        #{@game.title}
                .form-group.row.game_desc
                    .col-md-6.col_gd
                        Description: 
                    .col-md-6.col_game_desc
                        #{@game.description}
                .form-group.row.game_cat
                    .col-md-6.col_gc
                        Category: 
                    .col-md-6.col_game_cat
                        #{@game.category.name}
                .form-group.row.game_pic
                    .col-md-6.col_num    
                        Amount of pictures: 
                    .col-md-6.col_game_num
                        #{@game.pictures.count}
                .form-group.row.img_show        
                    .pic_display                
                        - @game.pictures.each do |picture|
                            %img.pic(src="#{Rails.application.routes.url_helpers.rails_blob_path(picture, only_path: true)}" alt="test")


