%p Title: #{@game.title}
%p Description #{@game.description}
%p Category: #{@game.category.name}
%p Amount of pictures: #{@game.pictures.count}
- @game.pictures.each do |picture|
    %img(src="#{Rails.application.routes.url_helpers.rails_blob_path(picture, only_path: true)}" alt="test")/