= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row.justify-content-center.login-wrapper
    .col-md-auto
      .header_style
        .card-header Welcome to BinarGames
      .card-body.body_style
        .form-group.row.justify-content-center
          .col-md-3.text-right
            = f.label :email, class: 'form-label'
          .col-md-auto
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input'
        .form-group.row.justify-content-center.password
          .col-md-3.text-right
            = f.label :password, class: 'form-label'
          .col-md-auto
            = f.password_field :password, autocomplete: "current-password", class: 'form-input'
        .form-group.row
          .col-md.col_rest.text-right
            .checkbox
              = f.label :remember_me
              = f.check_box :remember_me
        .form-group
          .col-md.col_button.text-right
            .log-button
              = f.submit "Log in", class: 'btn'
  .row.links-wrapper
    .col.text-center
      = link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: 'link'
      .link_box
        = render "devise/shared/links"


