<%= stylesheet_link_tag "body_form" %>
<%= stylesheet_link_tag "newlog" %>
<%= stylesheet_link_tag "newsign" %>
<%= stylesheet_link_tag "alert_message" %>
<%= stylesheet_link_tag "pass_forg" %>
<%= stylesheet_link_tag "links" %>

<!DOCTYPE html>
<html>
  <head>
    <title>BinarGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
