!!!
%html
  %head 
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title BinarGames
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body 
    %p.notice= notice
    %p.alert= alert 
    #main
      = render 'layouts/main_nav' 
      = yield
    %div.footer
      %div.footer-logo
        = image_tag 'bin.png', class: "footer-logo"
      %div.footer-names Created by: Piotrek, Natalia, Michał and Rafał
      = link_to(link_to image_tag('git.png', class: "footer-git"), "https://github.com/karczewskiPiotr/binar-games")
