!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BinarGames
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body 
    =render 'layouts/main_nav'
    %p.notice= notice
    %p.alert= alert
    -# = link_to "Binar Games", root_path
    -# - if user_signed_in?
    -#   = link_to "Log out", destroy_user_session_path, method: :delete
    -#   = link_to "Edit profile", edit_user_registration_path
    -# - else
    -#   = link_to "Log in", new_user_session_path
    = yield
    %div{:class => "bg"}
    %div{:class => "ripple-background"}
    %div{:class => "circle xxlarge shade1"}
    %div{:class => "circle xlarge shade2"}
    %div{:class => "circle large shade3"}
    %div{:class => "circle mediun shade4"}
    %div{:class => "circle small shade5"}
